<!DOCTYPE html>
<html lang="en">
<head>
  <title>View</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>  
<body style="background-color:Lime; text-align: center">  
  
<h1>Employee Information</h1>

<table class="table table-dark  table-hover" style="margin-top: 75px">
    <thead>
      <tr>
        <th>ID</th>
        <th>ID</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
       {% for row in rows %}  
      
        <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["email"]}}</td>  
            <td>{{row["pwd"]}}</td>  
        </tr>  
      
    {% endfor %}  
    </tbody>
  </table>
</div>

 
<br><br>  
  
<a href="/">Go back to home page</a>  
  
</body>  
</html>  